<div class="weatherView">
  <h1>Weather AngularJS</h1>
  <h3>{{displayLocation}}</h3>
  <h3>Hourly Forecast</h3>
    <ul>
      <li class="fiveDayForecast">
        <ul>
          <li>{{oneHour.hour}}</li>
          <li ng-class="oneHour.hourIcon === 'clear-day' ? 'clearDay' : oneHour.hourIcon === 'clear-night' ? 'clearNight' : oneHour.hourIcon === 'rain' ? 'rain' : oneHour.hourIcon === 'snow' ? 'snow' : oneHour.hourIcon === 'sleet' ? 'sleet' : oneHour.hourIcon === 'wind' ? 'wind' : oneHour.hourIcon === 'fog' ? 'fog' : oneHour.hourIcon === 'cloudy' ? 'cloudy' : oneHour.hourIcon === 'partly-cloudy-day' ? 'partlyCloudyDay' : oneHour.hourIcon === 'partly-cloudy-night' ? 'partlyCloudyNight' : 'hide'"></li>
          <li>{{oneHour.hourTemp}}</li>
          <li><p>{{oneHour.hourPrecip}}</p></li>
        </ul>
      </li>
      <li class="fiveDayForecast">
        <ul>
          <li>{{twoHour.hour}}</li>
          <li ng-class="twoHour.hourIcon === 'clear-day' ? 'clearDay' : twoHour.hourIcon === 'clear-night' ? 'clearNight' : twoHour.hourIcon === 'rain' ? 'rain' : twoHour.hourIcon === 'snow' ? 'snow' : twoHour.hourIcon === 'sleet' ? 'sleet' : twoHour.hourIcon === 'wind' ? 'wind' : twoHour.hourIcon === 'fog' ? 'fog' : twoHour.hourIcon === 'cloudy' ? 'cloudy' : twoHour.hourIcon === 'partly-cloudy-day' ? 'partlyCloudyDay' : twoHour.hourIcon === 'partly-cloudy-night' ? 'partlyCloudyNight' : 'hide'"></li>
          <li>{{twoHour.hourTemp}}</li>
          <li><p>{{twoHour.hourPrecip}}</p></li>
        </ul>
      </li>
      <li class="fiveDayForecast">
        <ul>
          <li>{{threeHour.hour}}</li>
          <li ng-class="threeHour.hourIcon === 'clear-day' ? 'clearDay' : threeHour.hourIcon === 'clear-night' ? 'clearNight' : threeHour.hourIcon === 'rain' ? 'rain' : threeHour.hourIcon === 'snow' ? 'snow' : threeHour.hourIcon === 'sleet' ? 'sleet' : threeHour.hourIcon === 'wind' ? 'wind' : threeHour.hourIcon === 'fog' ? 'fog' : threeHour.hourIcon === 'cloudy' ? 'cloudy' : threeHour.hourIcon === 'partly-cloudy-day' ? 'partlyCloudyDay' : threeHour.hourIcon === 'partly-cloudy-night' ? 'partlyCloudyNight' : 'hide'"></li>
          <li>{{threeHour.hourTemp}}</li>
          <li><p>{{threeHour.hourPrecip}}</p></li>
        </ul>
      </li>
      <li class="fiveDayForecast">
        <ul>
          <li>{{fourHour.hour}}</li>
          <li ng-class="fourHour.hourIcon === 'clear-day' ? 'clearDay' : fourHour.hourIcon === 'clear-night' ? 'clearNight' : fourHour.hourIcon === 'rain' ? 'rain' : fourHour.hourIcon === 'snow' ? 'snow' : fourHour.hourIcon === 'sleet' ? 'sleet' : fourHour.hourIcon === 'wind' ? 'wind' : fourHour.hourIcon === 'fog' ? 'fog' : fourHour.hourIcon === 'cloudy' ? 'cloudy' : fourHour.hourIcon === 'partly-cloudy-day' ? 'partlyCloudyDay' : fourHour.hourIcon === 'partly-cloudy-night' ? 'partlyCloudyNight' : 'hide'"></li>
          <li>{{fourHour.hourTemp}}</li>
          <li><p>{{fourHour.hourPrecip}}</p></li>
        </ul>
      </li>
      <li class="fiveDayForecast">
        <ul>
          <li>{{fiveHour.hour}}</li>
          <li ng-class="fiveHour.hourIcon === 'clear-day' ? 'clearDay' : fiveHour.hourIcon === 'clear-night' ? 'clearNight' : fiveHour.hourIcon === 'rain' ? 'rain' : fiveHour.hourIcon === 'snow' ? 'snow' : fiveHour.hourIcon === 'sleet' ? 'sleet' : fiveHour.hourIcon === 'wind' ? 'wind' : fiveHour.hourIcon === 'fog' ? 'fog' : fiveHour.hourIcon === 'cloudy' ? 'cloudy' : fiveHour.hourIcon === 'partly-cloudy-day' ? 'partlyCloudyDay' : fiveHour.hourIcon === 'partly-cloudy-night' ? 'partlyCloudyNight' : 'hide'"></li>
          <li>{{fiveHour.hourTemp}}</li>
          <li><p>{{fiveHour.hourPrecip}}</p></li>
        </ul>
      </li>
      <li class="fiveDayForecast">
        <ul>
          <li>{{sixHour.hour}}</li>
          <li ng-class="sixHour.hourIcon === 'clear-day' ? 'clearDay' : sixHour.hourIcon === 'clear-night' ? 'clearNight' : sixHour.hourIcon === 'rain' ? 'rain' : sixHour.hourIcon === 'snow' ? 'snow' : sixHour.hourIcon === 'sleet' ? 'sleet' : sixHour.hourIcon === 'wind' ? 'wind' : sixHour.hourIcon === 'fog' ? 'fog' : sixHour.hourIcon === 'cloudy' ? 'cloudy' : sixHour.hourIcon === 'partly-cloudy-day' ? 'partlyCloudyDay' : sixHour.hourIcon === 'partly-cloudy-night' ? 'partlyCloudyNight' : 'hide'"></li>
          <li>{{sixHour.hourTemp}}</li>
          <li><p>{{sixHour.hourPrecip}}</p></li>
        </ul>
      </li>
      <li class="fiveDayForecast">
        <ul>
          <li>{{sevenHour.hour}}</li>
          <li ng-class="sevenHour.hourIcon === 'clear-day' ? 'clearDay' : sevenHour.hourIcon === 'clear-night' ? 'clearNight' : sevenHour.hourIcon === 'rain' ? 'rain' : sevenHour.hourIcon === 'snow' ? 'snow' : sevenHour.hourIcon === 'sleet' ? 'sleet' : sevenHour.hourIcon === 'wind' ? 'wind' : sevenHour.hourIcon === 'fog' ? 'fog' : sevenHour.hourIcon === 'cloudy' ? 'cloudy' : sevenHour.hourIcon === 'partly-cloudy-day' ? 'partlyCloudyDay' : sevenHour.hourIcon === 'partly-cloudy-night' ? 'partlyCloudyNight' : 'hide'"></li>
          <li>{{sevenHour.hourTemp}}</li>
          <li><p>{{sevenHour.hourPrecip}}</p></li>
        </ul>
      </li>
    </ul>
  <p ng-bind-html="currentWeatherLink"></p>
  <ul>
    <li><input class="form-control" type="text" name="getAddress" value="" placeholder="Search city, zip or place" ng-model="address" ng-keyup="$event.keyCode == 13 && getWeather(address)"></li>
    <li><button class="btn btn-default" type="button" name="button" ng-click="getWeather(address)">Submit Request</button></li>
    <li><button class="btn btn-default" type="button" name="button" ng-click="getCurrentLocationWeather()">Current Location Weather</button></li>
  </ul>
</div>
