<div class='weatherView'>
  <h1>Weather AngularJS</h1>
  <h2>{{displayLocation}}</h2>
  <div ng-class="icon === 'clear-day' ? 'clearDay' : icon === 'clear-night' ? 'clearNight' : icon === 'rain' ? 'rain' : icon === 'snow' ? 'snow' : icon === 'sleet' ? 'sleet' : icon === 'wind' ? 'wind' : icon === 'fog' ? 'fog' : icon === 'cloudy' ? 'cloudy' : icon === 'partly-cloudy-day' ? 'partlyCloudyDay' : icon === 'partly-cloudy-night' ? 'partlyCloudyNight' : 'hide'"></div>
  <h2>{{currentTemperature}}</h2>
  <p>Feels like: {{apparentTemperature}}</p>
  <h3>3 - Day Forecast</h3>
  <ul>
    <li>{{tomorrow}}</li>
    <li>{{twoDays}}</li>
    <li>{{threeDays}}</li>
  </ul>
  <ul>
    <li><input class="form-control" type="text" name="getAddress" value="" placeholder="Search city, zip or place" ng-model="address"></li>
    <!-- <li><input class="form-control" type="text" name="getTime" value="" placeholder="time (optional)" ng-model="time"></li> -->
    <li><button class="btn btn-default" type="button" name="button" ng-click="getWeather(address, time)">Submit Request</button></li>
    <li><button class="btn btn-default" type="button" name="button" ng-click="getCurrentLocationWeather()">Current Location Weather</button></li>
  <ul>
</div>
