<div class='weatherView' ng-controller = "TabController as tab">
  <h1>Weather AngularJS</h1>
  <ul class="nav nav-tabs">
    <li ng-class="{active : tab.isSelected(1)}"><a href="" ng-click = "tab.selectTab(1)">Current Weather</a></li>
    <li ng-class="{active : tab.isSelected(2)}"><a href="" ng-click = "tab.selectTab(2)">Hourly Forecast</a></li>
  </ul>
  <div class="currentView" ng-show = "tab.isSelected(1)">
    <h3>{{displayLocation}}</h3>
    <div ng-class="icon === 'clear-day' ? 'clearDay' : icon === 'clear-night' ? 'clearNight' : icon === 'rain' ? 'rain' : icon === 'snow' ? 'snow' : icon === 'sleet' ? 'sleet' : icon === 'wind' ? 'wind' : icon === 'fog' ? 'fog' : icon === 'cloudy' ? 'cloudy' : icon === 'partly-cloudy-day' ? 'partlyCloudyDay' : icon === 'partly-cloudy-night' ? 'partlyCloudyNight' : 'hide'"></div>
    <h1>{{currentTemperature}}</h1>
    <p>{{apparentTemperature}}</p>
    <p>{{precipProbability}}</p>
    <p>{{summary}}</p>
    <ul>
      <li class="detailForecast" ng-repeat = "day in days">
        <ul>
          <li>{{day.day}}</li>
          <li ng-class="day.dailyIcon === 'clear-day' ? 'clearDay' : day.dailyIcon === 'clear-night' ? 'clearNight' : day.dailyIcon === 'rain' ? 'rain' : day.dailyIcon === 'snow' ? 'snow' : day.dailyIcon === 'sleet' ? 'sleet' : day.dailyIcon === 'wind' ? 'wind' : day.dailyIcon === 'fog' ? 'fog' : day.dailyIcon === 'cloudy' ? 'cloudy' : day.dailyIcon === 'partly-cloudy-day' ? 'partlyCloudyDay' : day.dailyIcon === 'partly-cloudy-night' ? 'partlyCloudyNight' : 'hide'"></li>
          <li>{{day.dayHigh}}</li>
          <li>{{day.dayLow}}</li>
          <li><p>{{day.dailyPrecip}}</p></li>
        </ul>
      </li>
    </ul>
    <ul>
      <li><input class="form-control" type="text" name="getAddress" value="" placeholder="Search city, zip or place" ng-model="address" ng-keyup="$event.keyCode === 13 && getAddress(address)"></li>
      <li><button class="btn btn-default" type="button" name="button" ng-click="getAddress(address)">Submit Request</button></li>
      <li><button class="btn btn-default" type="button" name="button" ng-click="getCurrentLocationWeather()">Current Location Weather</button></li>
    </ul>
  </div>

  <div class="hourlyView" ng-show = "tab.isSelected(2)">
  <h3>{{displayLocation}}</h3>
    <ul>
      <li class="detailForecast" ng-repeat = "hour in hours">
        <ul>
          <li>{{hour.hour}}</li>
          <li ng-class="hour.hourIcon === 'clear-day' ? 'clearDay' : hour.hourIcon === 'clear-night' ? 'clearNight' : hour.hourIcon === 'rain' ? 'rain' : hour.hourIcon === 'snow' ? 'snow' : hour.hourIcon === 'sleet' ? 'sleet' : hour.hourIcon === 'wind' ? 'wind' : hour.hourIcon === 'fog' ? 'fog' : hour.hourIcon === 'cloudy' ? 'cloudy' : hour.hourIcon === 'partly-cloudy-day' ? 'partlyCloudyDay' : hour.hourIcon === 'partly-cloudy-night' ? 'partlyCloudyNight' : 'hide'"></li>
          <li>{{hour.hourTemp}}</li>
          <li><p>{{hour.hourPrecip}}</p></li>
        </ul>
      </li>
    </ul>
  </div>
</div>
